{% extends 'base.html'%}
{% load static %}
{% block titulo_pahina %}Listado de Localidades{% endblock %}
{% block titulo_principal %}Listado de Localidades{% endblock %}
{% block bloque_principal %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 maincontent">
            <table class="table table-striped table-borderless table-secondary shadow p-2 mb-3 text-center">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Codigo Postal</th>
                        <th>MODIFICAR</th>
                        <th>ELIMINAR</th>
                    </tr>
                </thead>
                {% for localidad in localidades %}
                    <tr>
                        <td>{{ localidad.nombre }}</td>
                        <td>{{ localidad.cp }}</td>
                        <td><form action="{% url "modificar_localidad" localidad.id %}"><button class="btn btn-outline-secondary btn-sm"><i class="bi bi-pencil-square"></i></button></form></td>
                        <td><form action="{% url "eliminar_localidad" localidad.id %}"><button class="btn btn-outline-secondary btn-sm"><i class="bi bi-trash-fill"></i></button></form></td>    
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
